/* ******************** */
/* Typography scale */
/* ******************** */

/* Jonas Scale */
/*  
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* ******************** */
/* Spaces */
/* ******************** */
/* 
  2 / 4 / 8 / 12 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--size-normal);
  font-weight: var(--weight-normal);
  color: var(--light-grayish-blue);
}

.container {
  background-color: var(--very-dark-blue);
  overflow: hidden;
  min-height: 100vh;
  padding-inline: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.app {
  margin-top: -250px;
  width: 100%;
  max-width: 520px;
  margin-bottom: 6.2rem;
}

.mobile-img {
  display: none;
}
